.header.CCC {
    font-weight: bold;
}

ol li {
    font-family: cursive;
}

.snick{
    background-color: #000080;
    color: #6C2DC7;
}

.cheese{
    background-color: #61d600;
    color: #000080;
}

.CCC{
    background-color: #6C2DC7;
    color: #61d600;
}